{% extends "::base.html.twig" %}

{% block titulo %}Buscar Nuevos Convertidos - {% endblock %}

{% block stylesheets %}
        <link href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="http://d19k46zntalu3t.cloudfront.net/css/style.css" rel="stylesheet" type="text/css">
        <link href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
        <link href="http://d19k46zntalu3t.cloudfront.net/css/DT_bootstrap.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap.datepicker.css">
{% endblock %}                 

{% block content %} 
<div class="span9" >
	<h1>Buscar Nuevos Convertidos</h1>
        
        <form id="form_busqueda" name="form_busqueda" method="POST" >
         <div class="control-group span3">
            <label class="control-label" >Red</label>
            <div class="controls">
                <select id="red_lista" name="red_lista" class="rango input-medium" >
                   
                </select>
            </div>
        </div>
         <div class="control-group span3">
             
             
            <label class="control-label" >
                <input type="checkbox" id="desde_check" name="desde_check">
                Desde</label>
            <div class="controls">
                <input type="text" class="datepick rango input-medium" id="desde" name="desde" required>
            </div>
        </div>
        
        
         <div class="control-group">
            <label class="control-label" >
                <input type="checkbox" id="desde_check" name="desde_check">
                Hasta</label>
            <div class="controls">
                <input type="text" class="datepick rango input-medium" id="hasta" name="hasta" required>
            </div>
        </div>
        
         <div class="control-group span3">
            
            <div class="controls">
                <input type="submit" class="btn btn-primary" id="btnGenerar" name="btnGenerar" value="Generar">
            </div>
        </div>
        </form>
</div>
 
        <div class="span9">
	<div class="box">
		<div class="box-head tabs">
                    <h3>Nuevos Convertidos</h3>	
                </div>
       

        <div class="box-content box-nomargin">
        	<form id='form' method='POST'>
                
                    <input id='content' type='hidden' name='content' >
                    <input id='title' type='hidden' name='title' >
                    <input id='pdfbutton' type='button' value='PDF' class="btn btn-info">
                    <input id='excelbutton' type='button' value='Excel' class="btn btn-info">
            
            	<table cellpadding="0" cellspacing="0" border="0" class="display table table-striped dataTable table-bordered"  id="persona" name="persona">
            		<thead id='lol'>
                		<tr>
		                    <th>Nombres</th>		                    
		                    <th width="5%">Edad</th>
		                    <th width="6%">Red</th>
		                    <th width="8%">Conversión</th>
                                    <th> Telefono</th>
                                    <th>Ganado por</th>
                                    <th>Acciones</th>
		                </tr>
					</thead>
					
	
    			</table>
   			</form>
    	</div>
            
	</div>
    <div class="form-horizontal" id="select" name="select">
        <input type="button" class="btn btn-primary" id="vista" name="vista" value="Ver Datos">
        
         {% if is_granted('ROLE_GANAR') %}
            <input type="button" class="btn btn-primary" id="modificar" name="modificar" value="Modificar">
            <input type="button" class="btn btn-danger" id="eliminar" name="eliminar" value="Eliminar">                  
         {% endif %}
        
        <!-- button class="btn-success" id="modificar" name="modificar" value="Modificar">
        	<a id="mas" href="" >Modificar</a>
        </button -->
        
    </div>
</div>    
                 
{% endblock %}
      
 {%block javascript %}
            
        <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.js"></script>
        <script src="http://d19k46zntalu3t.cloudfront.net/js/less.js"></script>
	<script src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap.min.js"></script>
	<script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.uniform.min.js"></script>
	<script src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap.js"></script>
	<script src="http://d19k46zntalu3t.cloudfront.net/js/chosen.jquery.min.js"></script>
	<script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.fancybox.js"></script>
	<script src="http://d19k46zntalu3t.cloudfront.net/js/plupload/plupload.full.js"></script>
	<script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.cleditor.min.js"></script>
	<script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.inputmask.min.js"></script>
	<script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.tagsinput.min.js"></script>
	<script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.mousewheel.js"></script>
	<script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.dataTables.min.js"></script>
	<script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.dataTables.bootstrap.js"></script>
	<script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.textareaCounter.plugin.js"></script>
	<script src="http://d19k46zntalu3t.cloudfront.net/js/ui.spinner.js"></script>
	<script src="http://d19k46zntalu3t.cloudfront.net/js/custom.js"></script>
        <script src="http://d19k46zntalu3t.cloudfront.net/js/tablasfeatures.js"></script>
        <script src="http://d19k46zntalu3t.cloudfront.net/js/ganar.js"></script>
        <script src="http://d19k46zntalu3t.cloudfront.net/js/tiempo.js"></script>
        <script src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap.datepicker.js"></script>
        <script src="http://d19k46zntalu3t.cloudfront.net/js/datatable_plugins.js"></script>
	<script src="https://www.google.com/jsapi"></script>
        <!--[if lt IE 9]> <script type="text/javascript" src="/net/public/js/html5.js"></script><![endif]-->              
        <script src="http://d19k46zntalu3t.cloudfront.net/js/DT_bootstrap.js"> </script>
        <script src="http://d19k46zntalu3t.cloudfront.net/js/util/functiongen.js"> </script>
        <script src="http://d19k46zntalu3t.cloudfront.net/js/util/datatable_plugins.js"></script>
            
          
 
 
    <script type="text/javascript">
 
         var trselected; 
	 var oTable;
         
        var values = [];
        root = typeof exports !== "undefined" && exports !== null ? exports : this;

        root.SourceTServicio = '{{path('services_personas_init')}}';
      
        var FormatoPersonaTable, PersonaRowCB, PersonaTable;
        
        
        
        
        SuccessFunction = function(data) {
                    console.log(data);
                    
                    if(data.responseCode===200 ){          
                      alert('Registro Completado');  
                      
                      PersonaTable.fnReloadAjax(root.SourceTServicio)
                    }
                    else if(data.responseCode===400){//bad request
                       alert('Error bad request');
                        }
                    else{                        
                        if(data.responseCode===500)
                        {
                            alert('Error bad request');
                        }
                        else alert("An unexpeded error occured.");
                        }                    
        };

           
        
        PersonaRowCB = function(nRow, aData, iDisplayIndex) {
            var acciones, index;
            index = $(PersonaTable.fnGetData()).getIndexObj(aData, 'id');
            {% if is_granted('ROLE_GANAR')  %}
                acciones = getActionButtons("111");
            {% else %}
                acciones = getActionButtons("010");
            {% endif %}
            PersonaTable.fnUpdate(acciones, index, 6);
            $(nRow).find('a').tooltip('hide');
            $(nRow).find('.delete-row').click(function(event) {
                    event.preventDefault();
                        root.SelectToDrop = aData.id;
                        
                        return enviar('{{path('ae_elimina_persona')}}', { "formulario": aData.id }, SuccessFunction, null);
  
                });
            $(nRow).find('.ver_row').click(function(event) {
                event.preventDefault();
                 var route = '{{path('ae_gana_persona_vista',{'id': 'nom'})}}';            
                 var rutas = route.replace('nom',aData.id);
                 console.log(rutas);
                 window.open(rutas,'1359563086883','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');
            });
            return $(nRow).find('.edit_row').click(function(event) {
                event.preventDefault();
     
            });
  };

        
        urlES = "https://s3.amazonaws.com/acfinal/dt_ES.txt";
        FormatoPersonaTable = [
            {
                "sWidth": "25%",
                "mDataProp": "nombres"
            },
            {
                "sWidth": "10%",
                "mDataProp": "red"
            },
            {
                "sWidth": "10%",
                "mDataProp": "edad"
            }, {
                "sWidth": "10%",
                "mDataProp": "convertido"
            }, {
                "sWidth": "12%",
                "mDataProp": "telefono"
            },{
                "sWidth": "20%",
                "mDataProp": "ganado"
            },
            {
                "sWidth": "10%",
                "mDataProp": "acciones"
                
            }
       ];
	$(document).ready(function() {
            
            FechaActualT('desde');
            FechaActualT('hasta');
            
            PersonaTable = createDataTable("persona", root.SourceTServicio, FormatoPersonaTable, null, PersonaRowCB);

            
            var rede = '{{red}}';
                  
            {% if is_granted('ROLE_GANAR') %}
                redes = getAjaxObject('{{path('services_red')}}');              
                cargarSelect(redes, "red_lista", "int_red_id", "id"); 
                $("<option value='0'>Todos</option>").appendTo('#red_lista');
                                     
            {% else %}                      
                      
                      if(rede.length ===0)
                      $("<option value='-1'>Sin red </option>").appendTo('#red_lista');
                      else $("<option value='"+rede+"'>"+rede+"</option>").appendTo('#red_lista');

                      $("<option value='-1'>Sin  Celula </option>").appendTo('#celula_lista');

            {% endif%}
        
             $('#select').css({'display':'none'});


            $("#pdfbutton").click(function(event) {
                $("#persona th").css("width","auto");
            	$("#content").val($("#persona").html());
            	$("#title").val($("h3").html());
            	//$("#content").val($("#lol").html() + $("tbody").html());
                $("#form").attr("action", "{{asset('extensiones/exportpdf.php')}}");
		 		$("#form").submit();
            });

            $("#excelbutton").click(function(event) {
                console.log($("#persona").html());
            	$("#content").val("<table>" + $("#persona").html() + "</table>");
		$("#form").attr("action", "{{asset('extensiones/exportexcel.php')}}");
		$("#form").submit();
            });
        
           
            
	 });
  
       
      
       </script>
{%endblock %} 
