{% extends "::base.html.twig" %}

{% block titulo %}Célulograma - {% endblock %}

{% block stylesheets %}
        <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css">
        <link href="{{asset('css/bootstrap-responsive.css')}}" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{asset('css/bootstrap.datepicker.css')}}">
       <style type="text/css">
    
           #form_busqueda {
            margin-top: 15px;
            padding: 0px;
            }
            .datepicker {z-index: 1151;}           
            
        </style>
        
{% endblock %}                 

{% block content %} 
        
<div class="container-fluid">
    <div class="content">
     <div class="row-fluid">
	<div class="span12">

            <div id="alerta">
                
            </div>
            <div class="box">
                
		<div class="box-head tabs">
                    <h3>Filtro de busqueda </h3>
                </div>
       

                <div class="box-content box-nomargin">
        
        <form id="form_busqueda" name="form_busqueda" method="POST" class="form-horizontal" action="{{path('informe_lideres_celula_service')}}" >
            
            <input type="hidden" id="lider_id" name="lider_id" value="-1">
            <div class="row">
                <div class="control-group span3">
                    <label class="control-label" style="width:auto; margin-left: 40px;" >Red</label>
                    <div class="controls" style="margin-left: 90px;">
                        <select id="red_lista" name="red_lista" class="rango input-small" >
                   
                        </select>
                    </div>
                </div>
               
        
                <div class="control-group span3">
            
                    <div class="controls"  style="width:auto; margin-left: -10px; " >
                        <input type="submit" class="btn btn-primary" id="btnGenerar" name="btnGenerar" value="Generar">
                    </div>
                </div>
            </div>
            
            <div class="row" style="display:none;" id="fila_select">
                
                <div class="control-group span1">
                    <div class="controls" style="width:auto; margin-left: 40px;">
                       <label class="radio">
                            <input type="radio" id="nivel" name="nivel" value="todo"> 12
                        </label> 
                    </div>
                </div>
                <div class="control-group span3">
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" id="nivel" name="nivel" value="doce"> 144
                        </label>
                                                
                        <select id="doce_lista" name="doce_lista" class="input-medium" style="display: none;">
                        </select>
                    </div>        
                </div>
                <div class="control-group span3">
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" id="nivel" name="nivel" value="ciento"> 1728
                        </label>
                                                
                        <select id="ciento_lista" name="ciento_lista" class="input-medium" style="display: none;">
                        </select>
                    </div>        
                </div>
                
                <!--
                <div class="control-group span3">
                    <div class="controls">
                        <label class="radio">
                            <input type="radio" id="nivel" name="nivel" value="mil">  20736
                        </label>
                                                
                        <select id="mil_lista" name="mil_lista" class="input-medium" style="display: none;">
                        </select>
                    </div>        
                </div>
                -->
                
                <div class="control-group span3">
                     
                </div>
                
            </div>    
        </form>
        
 
                </div>
            </div>
    
        </div>
    </div>
      
     </div>
        
    </div>
</div>
{% endblock %}
      
 {%block javascript %}
            
        <script type="text/javascript" src="{{asset('js/jquery.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap-typeahead.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap-collapse.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap-button.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap-tooltip.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap-tab.js')}}"></script>
            <script type="text/javascript" src="{{asset('js/bootstrap.js')}}"></script>    
            <script src="{{asset('js/custom.js')}}"></script>              
            <!--[if lt IE 9]> <script type="text/javascript" src="{{asset('js/html5.js')}}"></script><![endif]-->
            <script src="{{asset('js/jquery/jquery.ui.core.min.js')}}"></script>
            <script src="{{asset('js/jquery/jquery.ui.widget.min.js')}}"></script>
            <script src="{{asset('js/jquery/jquery.ui.position.min.js')}}"></script>
            <script src="{{asset('js/bootstrap.datepicker.js')}}"></script>
            <!--[if lt IE 9]> <script type="text/javascript" src="/net/public/js/html5.js')}}"></script><![endif]-->           
            <script src="{{asset('js/tiempo.js')}}"></script>        
            <script src="{{asset('js/jquery.sparkline.js')}}"> </script>
            <script src="{{asset('js/jquery.dataTables.js')}}"> </script>
            <script src="{{asset('js/custom-tables.js')}}"> </script>
            
            <script src="{{asset('js/util/functiongen.js')}}"> </script>
            <script src="{{asset('js/util/datatable_plugins.js')}}"></script>
            <script src="{{asset('js/admincelula.js')}}"></script>
            
    <script type="text/javascript">
 
        var values = [];
        root = typeof exports !== "undefined" && exports !== null ? exports : this;

        root.SourceCServicio = "";
        root.tipo = -1;
        root.creado = false;
        root.encelula = null;
        root.sincelula = null;
      
        
        function cargar_sin_en_celula(red, id_cell, en_lista, sin_lista)
        {
            url_s = "{{path('services_sin_celula_red',{'red':'net'})}}";
            url_s = url_s.replace('net',red);
            
            sin = getAjaxObject(url_s);
            cargarSelect(sin,sin_lista,'id','nombres');
            
            url_c = "{{path('services_con_celula_red',{'red':'net','celula':'cell'})}}";
            url_c = url_c.replace('net',red);
            url_c = url_c.replace('cell',id_cell);
            con = getAjaxObject(url_c);
            root.encelula = con;
            root.sincelula = sin;
            
            cargarSelect(con,en_lista,'id','nombres');
            
        }
        function cargar_doce()
        {
            lider_red = $("#lider_id").val();
                   
            url = "{{path('services_hijos_de_lider_option',{'lider':':lid','tipo':'type'})}}";
            url = url.replace(':lid', $("#lider_id").val());
            url = url.replace('type','144');                   
            doce = getAjaxObject(url);    
           
            cargarSelect(doce,"doce_lista",'id','nombres');
            $("#doce_lista").css("display","block");
            $("#ciento_lista").css("display","none");
            $("#mil_lista").css("display", "none");
        }
        
        cargar_ciento = function()
        {
                   
            padre = $("#doce_lista").val();
            url = "{{path('services_hijos_de_lider_option',{'lider':':lid','tipo':'type'})}}";
            url = url.replace(':lid', padre);
            url = url.replace('type','1728');
            if(padre!= null || padre!=false)
            {
                ciento = getAjaxObject(url);                  
                cargarSelect(ciento,"ciento_lista",'id','nombres');
                $("#doce_lista").css("display","block");
                $("#ciento_lista").css("display","block");                
            }else{
                 $("#doce_lista").css("display","none");
            }            
            $("#mil_lista").css({"display": "none"});
        };
        
        cargar_mil = function(){
            padre = $("#ciento_lista").val();
            url = "{{path('services_hijos_de_lider_option',{'lider':':lid','tipo':'type'})}}";
            url = url.replace(':lid', padre);
            url = url.replace('type','20378');
            if(padre!= null || padre!=false)
            {
                mil = getAjaxObject(url);                  
                cargarSelect(mil,"mil_lista",'id','nombres');
                $("#doce_lista").css({"display":"block"});
                $("#ciento_lista").css({"display":"block"});
                $("#mil_lista").css({"display":"block"}); 
            }else{
                 $("#mil_lista").css({"display":"none"});
            }            
            
        };
        
        vacia = function(){};
        radioFunction  = function(){
                if(this.value === 'doce')
                {
                   cargar_doce();
                   $("#doce_lista").change(vacia);
                   $("#ciento_lista").change(vacia);
                }
                if(this.value === 'ciento')
                {
                    cargar_doce();    
                    $("#doce_lista").change(cargar_ciento);
                    $("#ciento_lista").change(vacia);
                }
                if(this.value === 'mil')
                {
                    root.tipo = 1728;
                    cargar_doce();
                   
                    $("#doce_lista").change(cargar_ciento);
                    $("#ciento_lista").change(cargar_mil);
                }
                if(this.value == 'todo')
                {
                    $("#doce_lista").css({"display":"none"});
                    $("#ciento_lista").css({"display":"none"});
                    $("#mil_lista").css({"display": "none"});   
                    root.tipo = 0;
                }
            };
        
        cambio_red = function(){    
            red = $("#red_lista").val();
            if(red != '-1')
            {
                url = "{{path('services_check_lider_red',{'red':'net'})}}";
                url = url.replace('net', red);
            
                lider = getAjaxObject(url);        
                if(lider === false)
                {
                    $("#fila_select").css("display","none");                    
                }
                else{
                    $("#lider_id").val(lider['lider']);
                    $("#fila_select").css({"display":"block"});
                    $("#doce_lista").css({"display":"none"});
                   

                }
            }
            else
            {
                $("#fila_select").css("display","none");
            }
            
        };
      

	$(document).ready(function() {
               redes = getAjaxObject('{{path('services_red')}}');              
                cargarSelect(redes, "red_lista", "int_red_id", "id");                                      
           
        
            $("#red_lista").change(function()
            {
               
                cambio_red();
            });
             $('#select').css({'display':'none'});
            
            $("input[type=radio][name=nivel]").change(radioFunction);
          
	 });
  
       
      
       </script>
{%endblock %} 
