{% extends "::base.html.twig" %}

{% block titulo %}Liderazgo- {% endblock %}

{% block stylesheets %}
    <link href="{{asset('css/bootstrap.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css">
    <link href="{{asset('css/bootstrap-responsive.css')}}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{asset('js/jquery-tree/ui-lightness/jquery-ui-1.10.2.custom.css')}}" />
    <link href="{{asset('css/primitives.latest.css')}}" media="screen" rel="stylesheet" type="text/css" />
    <style type="text/css">
           #form_busqueda {
            margin-top: 15px;
            padding: 0px;
            }
            
            .btn-small2 {
                font-size: 11px;
                line-height: 16px;
            }
            p {
margin: 0 0 1px;
margin-top: 0px;
margin-right: 0px;
margin-bottom: 1px;
margin-left: 0px;
}
            .btn2 {
  display: inline-block;
  *display: inline;
  padding: 2px 10px 2px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  line-height: 18px;
  *line-height: 20px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  cursor: pointer;
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
    </style>
{%endblock %}    

{% block content %} 
    <div class="container-fluid">
    <div class="content">
            <div class="row-fluid">
	<div class="span12">

            <div class="box">
                
		<div class="box-head tabs">
                    <h3>Filtro de busqueda </h3>
                </div>
       

                <div class="box-content box-nomargin">
        
        <form id="form_busqueda" name="form_busqueda" method="POST" class="form-horizontal" >
         <div class="control-group span3">
             <label class="control-label" style="width:auto; margin-left: 40px;" >Red</label>
            <div class="controls" style="margin-left: 90px;">
                <input id="net" name="net" type="hidden">
                <select id="red_lista" name="red_lista" class="rango input-small" >
                   
                </select>
            </div>
        </div>

         <div class="control-group span3">
            
            <div class="controls"  style="width:auto; margin-left: -10px; " >
                <input type="button" class="btn btn-primary" id="btnGenerar" name="btnGenerar" value="Generar">
            </div>
        </div>
        </form>
        
 
                </div>
            </div>
        
	
     </div>
    </div>
     <div class="row-fluid">
	<div class="span12">
            <div class="box">
                <div class="box-head">
                    <h3>Liderazgo</h3>
                </div>
                <div class="box-content">
                                <div id="basicdiagram" class="row-fluid" style="width: 900px; height: 600px; border-style: dotted; border-width: 1px;"/>

                </div>
            </div>
        </div>
        </div>
     </div>
    </div>
    </div>

                       
                         <div class="modal hide" id="modal_agregar">
                            <form id="form_agregar" name="form_agregar" method="POST" class="form-horizontal">
                            <input type="hidden" id="agregar_id" name="agregar_id">
                            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				 <h3>Confirmación</h3>
                            </div>
                            <div class="modal-body">
                                <p id="posible_agregar"></p>
                                <div class="form-horizontal">
                                    
                                  <div class="control-group" >                                            
                                            <label class="control-label"></label>
                                            <div class="controls">
                                                
                                                <select id="lideres_sin" name="lideres_sin" required >
                                                    
                                                </select>
                                            </div>                                          
                                  </div>
                                </div>
                              </div>
			    <div class="modal-footer">
                                                             
                                <a href="#" class="btn" data-dismiss="modal">Descartar</a>
                                <input type="button" value="Guardar cambios" id="guardarcambios_agregar" name="guardarcambios_agregar" class="btn btn-primary" data-dismiss="modal" >
			     </div>
                            </form> 
                        </div>
                        
    
                       
                         <div class="modal hide" id="modal_eliminar">
                            <form id="form_eliminar" name="form_eliminar" method="POST" class="form-horizontal">
                            <input type="hidden" id="eliminar_id" name="eliminar_id">
                            <input type="hidden" id="tipo_eliminar" name="tipo_eliminar">
                            
                            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				 <h3>Confirmación</h3>
                            </div>
                            <div class="modal-body">
                                <p id="posible_eliminar"></p>
                                <div class="form-horizontal" id="eliminar_cuerpo" name="eliminar_cuerpo" style="display:none;" >
                                    
                                     <div class="control-group" >                                            
                                            <label class="control-label">Lider a reemplazar</label>
                                            <div class="controls">
                                                
                                                <select id="lideres_asignados" name="lideres_asignados" required >
                                                    
                                                </select>
                                            </div>                                          
                                    </div>
                                </div>
                              </div>
			    <div class="modal-footer">
                                                             
                                <a href="#" class="btn" data-dismiss="modal">Descartar</a>
                                <input type="button" value="Guardar cambios" id="guardarcambios_eliminar" name="guardarcambios_eliminar" class="btn btn-primary" data-dismiss="modal" >
			     </div>
                            </form> 
                        </div>
                     
                         <div class="modal hide" id="modal_cambiar">
                            <form id="form_cambiar" name="form_cambiar" method="POST" class="form-horizontal">
                            <input type="hidden" id="cambiar_id" name="cambiar_id">
                            <input type="hidden" id="tipo_cambiar" name="tipo_cambiar">

                            <div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				 <h3>Confirmación</h3>
                            </div>
                            <div class="modal-body">
                                <p id="posible_cambiar"></p>
                                <div class="form-horizontal" id="cambiar_cuerpo" name="cambiar_cuerpo" style="display:none;">
                                    
                                  <div class="control-group" >                                            
                                            <label class="control-label">Nuevo Lider</label>
                                            <div class="controls">                                                
                                                <select id="lideres_cambiar" name="lideres_cambiar" required >
                                                    
                                                </select>
                                            </div>                                          
                                    </div>
                                </div>
                              </div>
			    <div class="modal-footer">
                                                             
                                <a href="#" class="btn" data-dismiss="modal">Descartar</a>
                                <input type="button" value="Guardar cambios" id="guardarcambios_cambiar" name="guardarcambios_cambiar" class="btn btn-primary" data-dismiss="modal" >
			     </div>
                            </form> 
                        </div>
                        
    
{% endblock %}
    
 {%block javascript %}
    
    <script type="text/javascript" src="{{asset('js/jquery-tree/jquery-1.9.1.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/jquery-tree/jquery-ui-1.10.2.custom.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/primitives.min.js')}}"></script>
       <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-typeahead.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-collapse.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-button.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-tooltip.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-tab.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap.js"></script>    
            <script type="text/javascript" src="{{asset('js/custom_liderazgo.js')}}"></script>
    <script type="text/javascript" src="{{asset('js/util/functiongen.js')}}"> </script>
    <script type='text/javascript'>//<![CDATA[ 
        
        var treeItems = {};
        var options = null;
        var arbol = null;
        var items = [];
        var servicio = null;

        
        function getCursorTemplate() {
            var result = new primitives.orgdiagram.TemplateConfig();
            result.name = "CursorTemplate";

            result.itemSize = new primitives.common.Size(120, 100);
            result.minimizedItemSize = new primitives.common.Size(3, 3);
            result.highlightPadding = new primitives.common.Thickness(2, 2, 2, 2);
            result.cursorPadding = new primitives.common.Thickness(3, 3, 50, 8);

            var cursorTemplate = jQuery("<div></div>")
            .css({
                position: "absolute",
                overflow: "hidden",
                width: (result.itemSize.width + result.cursorPadding.left + result.cursorPadding.right) + "px",
                height: (result.itemSize.height + result.cursorPadding.top + result.cursorPadding.bottom) + "px"
            });

            var cursorBorder = jQuery("<div></div>")
            .css({
                width: (result.itemSize.width + result.cursorPadding.left + 4) + "px",
                height: (result.itemSize.height + result.cursorPadding.top + 14) + "px"
            }).addClass("bp-item bp-corner-all bp-cursor-frame");
            cursorTemplate.append(cursorBorder);

            var bootStrapVerticalButtonsGroup = jQuery("<div></div>")
            .css({
                position: "absolute",
                overflow: "hidden",
                top: result.cursorPadding.top + "px",
                left: (result.itemSize.width + result.cursorPadding.left + 10) + "px",
                width: "35px",
                height: (result.itemSize.height + 1) + "px"
            }).addClass("btn-group btn-group-vertical");

            bootStrapVerticalButtonsGroup.append('<p><a href="#modal_agregar" data-toggle="modal" class=" add btn2 btn-small2" data-original-title="Show details" data-buttonname="add" ><i class="icon-user"></i></a></p>');
            bootStrapVerticalButtonsGroup.append('<p><a href="#modal_eliminar" data-toggle="modal"  class=" delete btn2 btn-small2" data-original-title="Show details" data-buttonname="eliminar" type="button"><i class="icon-remove"></i></a></p>');
            bootStrapVerticalButtonsGroup.append('<p><a href="#modal_cambiar" data-toggle="modal" class=" change btn2 btn-small2" data-buttonname="cambiar_lider" type="button"><i class="icon-magnet"></i></a></p>');

            cursorTemplate.append(bootStrapVerticalButtonsGroup);

            result.cursorTemplate = cursorTemplate.wrap('<div>').parent().html();

            return result;
        }


        function cargar_lideres_sin_asignar()
        {
             red = $("#net").val();
             url = '{{path( 'service_get_lideres_celula_sinaginar',{'red':'nom'})}}';
             url = url.replace('nom',red);
             ciento = getAjaxObject(url);
             cargarSelect(ciento,'lideres_sin','id','label');
        }
        function onMouseClick(event, data) {
           
            var target = jQuery(event.originalEvent.target);
          
        
            if(target.hasClass("add") || target.parent(".add").length > 0 )
            {
                $("#posible_agregar").text("Desea añadir una nueva persona a " + data.context.title);
                $("#agregar_id").val(data.context.id);
                cargar_lideres_sin_asignar();
                
            }
            else if(target.hasClass("delete") || target.parent(".delete").length > 0 )
            {
                $("#eliminar_id").val(data.context.id);

                if( (n = data.context.description.search('144')) != -1)
                {
                    $("#tipo_eliminar").val(144);
                    $("#eliminar_cuerpo").css({"display":"block"});
                    $("#posible_eliminar").text("Desee eliminar al lider "+data.context.title+"?");
                    lideres = getAjaxObject(servicio);                 
                    cargarSelect(lideres, "lideres_asignados", "id", "title");
                }
                else if((n = data.context.description.search('1728')) != -1)
                {
                    $("#tipo_eliminar").val(1728);
                   $("#eliminar_cuerpo").css({"display":"block"});
                    $("#posible_eliminar").text("Desee eliminar al lider "+data.context.title+"?");
                    lideres = getAjaxObject(servicio);                 
                    cargarSelect(lideres, "lideres_asignados", "id", "title");
              }    
                else if((n = data.context.description.search('20736')) != -1)
                {                
                    $("#tipo_eliminar").val(20736);
                   $("#eliminar_cuerpo").css({"display":"none"});
                    $("#posible_eliminar").text("Desee eliminar al lider "+data.context.title+"?");
                }
                else if((n = data.context.description.search('12')) != -1)
                {
                    $("#tipo_eliminar").val(12);

                    $("#posible_eliminar").text("No se puede eliminar a un lider de red");
                }
            }
            else if(target.hasClass("change") || target.parent(".change").length > 0 )
            {
                $("#cambiar_id").val(data.context.id);
                if( (n = data.context.description.search('144')) != -1)
                {
                    $("#tipo_cambiar").val(144);
                    $("#posible_cambiar").text("No se puede cambiar a un lider de red");
                }
                else if((n = data.context.description.search('1728')) != -1)
                {
                    $("#tipo_cambiar").val(1728);
                   $("#cambiar_cuerpo").css({"display":"block"});
                    $("#posible_cambiar").text("Desee cambiar de lider "+data.context.title+"?");
                    lideres = getAjaxObject(servicio);                 
                    cargarSelect(lideres, "lideres_cambiar", "id", "title");
              }    
                else if((n = data.context.description.search('20736')) != -1)
                {                
                    $("#tipo_cambiar").val(20736);
                   $("#cambiar_cuerpo").css({"display":"block"});
                    $("#posible_cambiar").text("Desee cambiar de lider "+data.context.title+"?");
                    lideres = getAjaxObject(servicio);                 
                    cargarSelect(lideres, "lideres_cambiar", "id", "title");
                }
                else if((n = data.context.description.search('12')) != -1)
                {
                    $("#tipo_cambiar").val(12);
                    $("#posible_cambiar").text("No se puede cambiar a un lider de red");
                } 
            }
        
    }
    
        function parse_items($lideres)
        {
            items = [];
            for (var i=0; i<lideres.length; i++)
               items.push(new primitives.orgdiagram.ItemConfig(lideres[i]));
           
            return items;
        }
        function generardata()
        {
            var red = $("#red_lista").val();
            
            $("#net").val(red);
                        
            if( red != '-1'){
                options = new primitives.orgdiagram.Config();
                url = '{{path('services_arbol_liderazgo_xred',{'red':':net'})}}';
                url = url.replace(':net',red);
                servicio = url;
                lideres = getAjaxObject(servicio);                 
                cargarSelect(lideres, "lideres_asignados", "id", "title");
                items = parse_items(lideres);

                /* Create hash table where key = id & value = ItemConfig */;
                treeItems = [];
                for (var index = 0, len = items.length; index < len; index += 1) {
                    treeItems[items[index].id] = items[index];
                }

            
                options.items = items;
                options.cursorItem = 0;

                options.templates = [getCursorTemplate()];
            options.defaultTemplateName = "CursorTemplate";
                options.hasButtons = primitives.common.Enabled.True;
                options.hasSelectorCheckbox = primitives.common.Enabled.False;
            
                options.onSelectionChanged = function (e, data) {
               
                };
                           options.onMouseClick = onMouseClick;

                arbol = jQuery("#basicdiagram").orgDiagram(options);
            }
                         
            
        }
        
        function update_draw()
        {
             /* update items list in chart */
                            jQuery("#basicdiagram").orgDiagram({
                                items: items
                            });
                            jQuery("#basicdiagram").orgDiagram("update", /*Refresh: use fast refresh to update chart*/ primitives.orgdiagram.UpdateMode.Refresh);

        }
        SuccessFunction = function(data) {
               
                    if(data.responseCode===200 ){          
                      alert('Registro Completado');                       
                      items.push(new primitives.orgdiagram.ItemConfig(data.item));
                      update_draw();

                    }
                    else if(data.responseCode===400){//bad request
                       alert('Error bad request');
                        }
                    else{                        
                        if(data.responseCode===500)
                        {
                            alert('Error bad request');
                        }
                        else alert("An unexpeded error occured.");
                        }                    
        };
        
         SuccessEFunction = function(data) {
               
                    if(data.responseCode===200 ){          
                      alert('Registro Completado');
                      lideres = getAjaxObject(servicio);                 
                      cargarSelect(lideres, "lideres_asignados", "id", "title");
                      items = parse_items(lideres);
                      update_draw();
                  }
                    else if(data.responseCode === 300){//bad request
                       alert(data.mensaje);
                        }
                    else{                        
                        if(data.responseCode===500)
                        {
                            alert('Error bad request');
                        }
                        else alert("An unexpeded error occured.");
                        }                    
        };
        
        
       $(document).ready(function() {
           redes = getAjaxObject('{{path('services_red')}}');              
           cargarSelect(redes, "red_lista", "int_red_id", "id");
            
           $("#btnGenerar").click(generardata);


           $("#guardarcambios_agregar").click(function(event){
              event.preventDefault();
              
              enviar('{{path('agregar_lider_save')}}', { "formulario": $("#form_agregar").serializeObject() }, SuccessFunction, null);

           });
           
           $("#guardarcambios_eliminar").click(function(event){
               event.preventDefault();
               if((tipo=$("#tipo_eliminar").val()) != '12')
               {
                   console.log($("#form_eliminar").serializeObject());
                   if(tipo == 144)
                   {
                      enviar('{{path('eliminar_lider_save')}}', { "formulario": $("#form_eliminar").serializeObject() }, SuccessEFunction, null);
                   }    
                   else if(tipo==1728)
                   {
                      enviar('{{path('eliminar_lider_save')}}', { "formulario": $("#form_eliminar").serializeObject() }, SuccessEFunction, null);
                   }
                   else if(tipo==20736)
                   {
                        enviar('{{path('eliminar_lider_save')}}', { "formulario": $("#form_eliminar").serializeObject() }, SuccessEFunction, null);

                   }
               }
               else
               {
                   $("#eliminar_cuerpo").css({"display":"none"});
               }
           });
           
           
            $("#guardarcambios_cambiar").click(function(event){
               event.preventDefault();
               console.log($("#form_cambiar").serializeObject());
               if((tipo=$("#tipo_cambiar").val()) != '12')
               {
                    if(tipo==1728)
                   {
                      $("#cambiar_cuerpo").css({"display":"block"});

                      enviar('{{path('cambiar_lider_save')}}', { "formulario": $("#form_cambiar").serializeObject() }, SuccessEFunction, null);
                   }
                   else if(tipo==20736)
                   {
                        $("#cambiar_cuerpo").css({"display":"block"});

                        enviar('{{path('cambiar_lider_save')}}', { "formulario": $("#form_cambiar").serializeObject() }, SuccessEFunction, null);

                   }
               }
               else
               {
                   $("#cambiar_cuerpo").css({"display":"none"});
               }
           });
       });

    </script>
{% endblock %}