{% extends "::base.html.twig" %}

{% block titulo %} Añadir Consolidadores - {% endblock %}

{% block stylesheets %}
        <link href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap.css" rel="stylesheet" type="text/css">
        <link href="http://d19k46zntalu3t.cloudfront.net/css/style.css" rel="stylesheet" type="text/css">
        <link href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap-responsive.css" rel="stylesheet" type="text/css">
       <style type="text/css">
    
           #form_busqueda {
            margin-top: 15px;
            padding: 0px;
            }
            
            
        </style>
        
{% endblock %}                 

{% block content %} 
        
<div class="container-fluid">
    <div class="content">
     <div class="row-fluid">
	<div class="span12">

            <div class="box">
                
		<div class="box-head tabs">
                    <h3>Añadir consolidadores</h3>
                    
                </div>
       

                <div class="box-content box-nomargin">
        
        <form id="form_busqueda" name="form_busqueda" method="POST" class="form-horizontal" >
            
            <div>
         <div class="control-group span3">
             <label class="control-label" style="width:auto; margin-left: 40px;" >Red</label>
            <div class="controls" style="margin-left: 90px;">
                <select id="red_lista" name="red_lista" class="rango input-small" >
                   
                </select>
            </div>
        </div>
       
         <div class="control-group span3">
            
            <div class="controls"  style="width:auto; margin-left: -10px; " >
                <input type="button" class="btn btn-primary" id="btnGenerar" name="btnGenerar" value="Generar">
            </div>
        </div>
            </div>
        </form>
        
                
                <div class="modal hide" id="modal_miembro">
							  <div class="modal-header">
							    <button type="button" class="close" data-dismiss="modal">×</button>
							    <h3>Confirmación</h3>
							  </div>
							  <div class="modal-body">
							    <p id="posible_miembro"></p>
							  </div>
							  <div class="modal-footer">
                                                             
							  <a href="#" class="btn" data-dismiss="modal">Descartar</a>
                                                            <button id="guardarcambios" name="guardarcambios" class="btn btn-primary" data-dismiss="modal">Guardar cambios</button>
							  </div>
                </div>
                    
            	<table cellpadding="0" cellspacing="0" border="0" class="data-table table table-condensed table-striped table-hover table-bordered pull-left"  id="miembro" name="miembro">
            		<thead id='lol'>
                		<tr>
		                    <th>Nombres</th>	
                                    <th width="6%">Red</th>
		                    <th width="5%">Edad</th>		                    
		                    <th width="8%">Conversión</th>
                                    <th> Telefono</th>
                                    <th>Acciones</th>
		                </tr>
			</thead>
                </table>
                </div>
            </div>
        
	<div class="box">
             <form id='form' method='POST'>
		<div class="box-head">
                    <h3>Consolidador</h3>	
            
                <div class="actions">
								<ul>
                                                                    
                                                                        <li>
                                                                            
                                                                            <button id='excelbutton' class="btn btn-mini btn-square tip">
                                                                                <i class="icon-hdd"></i>
                                                                                Guardar
                                                                            </button>
                                                                        </li>
								</ul>	
							</div>

                </div>

        <div class="box-content box-nomargin">
        	
                
                    <input id='content' type='hidden' name='content' >
                    <input id='title' type='hidden' name='title' >
                    
            
            	<table cellpadding="0" cellspacing="0" border="0" class="data-table table table-condensed table-striped table-hover table-bordered pull-left"  id="consolidador" name="consolidador">
            		<thead id='lol'>
                		<tr>
		                    <th>Nombres</th>
                                    <th width="6%">Red</th>
		                    <th width="5%">Edad</th>		                    
		                    <th width="8%">Conversión</th>
                                    <th> Telefono</th>
                                    <th>Acciones</th>
		                </tr>
                        </thead>
					
	
                </table>
   			
    	</div>
            
        </form>
            
	</div>
     </div>
    </div>
</div>    
        
     </div>
        
    </div>
</div>
{% endblock %}
      
 {%block javascript %}
            
        <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/jquery.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-typeahead.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-collapse.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-button.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-tooltip.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-tab.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap.js"></script>    
            <script src="http://d19k46zntalu3t.cloudfront.net/js/custom.js"></script>              
            <!--[if lt IE 9]> <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/html5.js"></script><![endif]-->
            <script src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap.datepicker.js"></script>
            <script src="https://www.google.com/jsapi"></script>
            <!--[if lt IE 9]> <script type="text/javascript" src="/net/public/js/html5.js"></script><![endif]-->           
            <script src="http://d19k46zntalu3t.cloudfront.net/js/tiempo.js"></script>        
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.sparkline.js"> </script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.dataTables.js"> </script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/custom-tables.js"> </script>
            
            <script src="{{asset('js/util/functiongen.js')}}"> </script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/util/datatable_plugins.js"></script>
            <script src="{{asset('js/otherfunctiondatatable.js')}}"></script>
            
          
 
 
    <script type="text/javascript">
 
         var trselected; 
	 var oTable;
         urlES = "https://s3.amazonaws.com/acfinal/dt_ES.txt";
         
        var values = [];
        root = typeof exports !== "undefined" && exports !== null ? exports : this;

        root.SourceMiembroServicio = '{{path('services_miembro_init_no_consolidador')}}';
        root.SourceConsolidadorServicio = '{{path('services_consolidador_init')}}';
        root.idPersona = -1;
        root.aData = null;
      
        var FormatoMiembroTable, MiembroRowCB, MiembroTable=null;
        var FormatoConsolidadorTable, ConsolidadorRowCB, ConsolidadorTable=null;
  
        generardata = function()
        {
            var red = $("#red_lista").val()
            if(red=='0')
            {
                root.SourceConsolidadorServicio = "{{path('services_consolidador_all')}}";
                root.SourceMiembroServicio = "{{path('services_miembro_all_no_consolidador')}}";
                
                
                if(ConsolidadorTable == null)
                    ConsolidadorTable = createDataTable("consolidador", root.SourceConsolidadorServicio, FormatoConsolidadorTable, null, ConsolidadorRowCB);
                else
                    ConsolidadorTable.fnReloadAjax(root.SourceConsolidadorServicio);

                if(MiembroTable == null)    
                    MiembroTable = createDataTable("miembro", root.SourceMiembroServicio, FormatoMiembroTable, null, MiembroRowCB);
                else
                    MiembroTable.fnReloadAjax(root.SourceMiembroServicio);
                
            }    
            else if( red != '-1')
            {     
               

                url = '{{path('services_consolidador_red',{'red':'net'})}}';
                url = url.replace('net', red);                 
                   
                   
                url1 = '{{path('services_miembro_red_no_consolidador',{'red':'net'})}}';
                url1 = url1.replace('net', red);  
                
                root.SourceConsolidadorServicio = url;
                root.SourceMiembroServicio = url1;                
                
                if(ConsolidadorTable == null)
                    ConsolidadorTable = createDataTable("consolidador", root.SourceConsolidadorServicio, FormatoConsolidadorTable, null, ConsolidadorRowCB);
                else
                    ConsolidadorTable.fnReloadAjax(root.SourceConsolidadorServicio);

                if(MiembroTable == null)    
                    MiembroTable = createDataTable("miembro", root.SourceMiembroServicio, FormatoMiembroTable, null, MiembroRowCB);
                else
                    MiembroTable.fnReloadAjax(root.SourceMiembroServicio);
                 
            }
            
        };
        
        SuccessMiembroFunction = function(data) {
               
                    if(data.responseCode===200 ){          
                      alert('Registro Completado');                       
                      MiembroTable.fnReloadAjax(root.SourceMiembroServicio);
                      ConsolidadorTable.fnReloadAjax(root.SourceConsolidadorServicio);
                    }
                    else if(data.responseCode===400){//bad request
                       alert('Error bad request');
                        }
                    else{                        
                        if(data.responseCode===500)
                        {
                            alert('Error bad request');
                        }
                        else alert("An unexpeded error occured.");
                        }                    
        };

        
           
        SuccessConsolidadorFunction = function(data) {
               
                    if(data.responseCode===200 ){          
                      alert('Registro Completado');                       
                      ConsolidadorTable.fnReloadAjax(root.SourceConsolidadorServicio);
                    }
                    else if(data.responseCode===400){//bad request
                       alert('Error bad request');
                        }
                    else{                        
                        if(data.responseCode===500)
                        {
                            alert('Error bad request');
                        }
                        else alert("An unexpeded error occured.");
                        }                    
        };

           
        MiembroRowCB = function(nRow, aData, iDisplayIndex) {
            /*
            var acciones, index;
            index = $(MiembroTable.fnGetData()).getIndexObj(aData, 'id');
            {% if is_granted('ROLE_GANAR')  %}
                acciones = getOtherActionButtons("100","modal_miembro", "","");
            
            {% endif %}
            MiembroTable.fnUpdate(acciones, index, 5);
            */
            $(nRow).find('a').tooltip('hide');
            
            $(nRow).find('.add_row').click(function(event) {
                event.preventDefault();
                
                root.idPersona = aData.id ;
                $("#posible_miembro").text('Desear agregar a '+ aData.nombres+' como consolidador?');
            });
        };
        
        ConsolidadorRowCB = function(nRow, aData, iDisplayIndex) {
            var acciones, index;
            index = $(ConsolidadorTable.fnGetData()).getIndexObj(aData, 'id');
            {% if is_granted('ROLE_GANAR')  %}
                acciones = getOtherActionButtons("111");
            {% else %}
                acciones = getOtherActionButtons("010");
            {% endif %}
            ConsolidadorTable.fnUpdate(acciones, index,5);
            $(nRow).find('a').tooltip('hide');
            $(nRow).find('.delete-row').click(function(event) {
                    event.preventDefault();
                        root.SelectToDrop = aData.id;
                        
                        return enviar('{{path('ae_elimina_persona')}}', { "formulario": aData.id }, SuccessFunction, null);
  
                });
            $(nRow).find('.ver_row').click(function(event) {
                event.preventDefault();

            });
            return $(nRow).find('.add_row').click(function(event) {
                event.preventDefault();
                
            });
        };

        
        FormatoConsolidadorTable = [
            {
                "sWidth": "35%",
                "mDataProp": "nombres"
            },
            {
                "sWidth": "10%",
                "mDataProp": "red"
            },
            {
                "sWidth": "10%",
                "mDataProp": "edad"
            }
            , {
                "sWidth": "10%",
                "mDataProp": "convertido"
            }, {
                "sWidth": "12%",
                "mDataProp": "telefono"
            },
            {
                "sWidth": "10%",
                "mDataProp": "acciones"
                
            }
       ];
       
        FormatoMiembroTable = FormatoConsolidadorTable;
       
      
	$(document).ready(function() {
         
            redes = getAjaxObject('{{path('services_red')}}');              
            cargarSelect(redes, "red_lista", "int_red_id", "id");
                  
            {% if is_granted('ROLE_CONSOLIDAR') %}                 
                $("<option value='0'>Todos</option>").appendTo('#red_lista');                                     
            {% endif%}
       
            $("#btnGenerar").click(generardata);            
            
            $("#guardarcambios").click(function(event){
                event.preventDefault();
                
                enviar('{{path('consolidador_save')}}', { "formulario": root.idPersona }, SuccessMiembroFunction, null);

            });
            
	 });
       
      
       </script>
{%endblock %} 
