<!doctype html>
<html lang="es">
<head>
<meta charset="utf-8">
<title>{% block titulo %}{% endblock %}Admin Church</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width">

{% block stylesheets %}
<link rel="stylesheet" href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap.css">
<link rel="stylesheet" href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap-responsive.css">
<link rel="stylesheet" href="http://d19k46zntalu3t.cloudfront.net/css/jquery.fancybox.css">
<link rel="stylesheet" href="http://d19k46zntalu3t.cloudfront.net/css/style.css">
{% endblock %}
</head>
<body>
<div class="topbar">
	<div class="container-fluid">
		<a href="{{path('main')}}" class='company'><img alt="Administración Eclesiástica" src="http://d19k46zntalu3t.cloudfront.net/images/ac-logo-horizontal-3.png"></a>
		<ul class='mini'>
			<li>
				<a href="#">
					<img src="http://d19k46zntalu3t.cloudfront.net/img/icons/fugue/help.png" alt="">
					Ayuda
				</a>
			</li>
			<li>
				<a href="{{path('fos_user_security_logout')}}">
					<img src="http://d19k46zntalu3t.cloudfront.net/img/icons/fugue/control-power.png" alt="">
					Cerrar Sesión
				</a>
			</li>
		</ul>
	</div>
</div>
<div class="breadcrumbs">
	<div class="container-fluid">
		<ul class="bread pull-left">
			<li>
				<a href="{{path('main')}}"><i class="icon-home icon-white"></i></a>
			</li>
			
		</ul>

	</div>
</div>
<div class="main">
	<div class="navi">
            <ul class='main-nav'>
			<li class='active'>
				<a href="{{path('main')}}" class='light'>
					<div class="ico"><i class="icon-home icon-white"></i></div>
					Inicio
				</a>
			</li>
                        
                        
			<li>
				<a class='light toggle-collapsed'>
					Ganar
					<img src="http://d19k46zntalu3t.cloudfront.net/img/toggle-subnav-down.png" alt="">
				</a>
				<ul class='collapsed-nav closed'>
                                      {% if (is_granted('ROLE_USER')) %}
					<li>
						<a href="{{path('ae_gana_view')}}">
							Registrar
						</a>
					</li>
                                      {% endif %}  
                                        {% if ( is_granted('ROLE_GANAR') )%}
                                        <li>
						<a href="{{path('ae_gana_busqueda')}}">
							Buscar
						</a>
					</li>
                                        {% endif %}
                                        
					<li>
						<a href="#" class='light toggle-collapsed'>
							Informes
							<img src="http://d19k46zntalu3t.cloudfront.net/img/toggle-subnav-down.png" alt="">
						</a>
						<ul class='collapsed-nav closed dentro'>
							
                                                        
                                                        {% if (is_granted('ROLE_LIDER_RED') ) %}

                                                        <li>
                                                            <a href="{{path('ganar_informe_por_lider')}}" >
                                                             Informe de 12 del Pastor@
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        
                                                        {% if (is_granted('ROLE_LIDER12'))%}
                                                        <li>
                                                            <a href="{{path('ganar_informe_por_lider12')}}">
                                                             Informe de 144 del Pastor@
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        
                                                        {% if(is_granted('ROLE_LIDER144')) %}
                                                         <li>
                                                            <a href="{{path('ganar_informe_por_lider144')}}">
                                                             Informe de 1728 del Pastor@
                                                            </a>
                                                        </li>
                                                        {% endif %}
                                                        
                                                        {% if is_granted('ROLE_LIDER1728') %}
                                                         <li>
                                                            <a href="{{path('ganar_informe_por_lider_1728')}}">
                                                             Informe de 20736 del Pastor@
                                                            </a>
                                                        </li>
                                                        
                                                        {% endif %}
                                                        {% if(is_granted('ROLE_GANAR')) %}
                                                        <li>
                                                            <a href="{{path('ganar_informe_semanal_ganar')}}">
                                                             Informe Semanal Ganar
                                                            </a>
                                                        </li>
                                                        {% endif %}
						</ul>
					</li>
				
                                        </ul>
			</li>
                        <li>
                            <a class="light toggle-collapsed">
                                Consolidar
                                <img src="http://d19k46zntalu3t.cloudfront.net/img/toggle-subnav-down.png" alt="">
                            </a>
                            <ul class="collapsed-nav closed">
                                <li>
                                    <a href="{{path('leche_view')}}">
                                      Crear Leche Espiritual
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path('consolidador_view')}}">
                                      Administrar Consolidador
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="{{path('asignarconsolidador_view')}}">
                                      Asignar Consolidador
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="{{path('asistencia_leche_view')}}">
                                        Administrar Consolidados
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                        <li>
                            <a class="light toggle-collapsed">
                                Discipular
                                <img src="http://d19k46zntalu3t.cloudfront.net/img/toggle-subnav-down.png" alt="">
                            </a>
                            <ul class="collapsed-nav closed">
                                <li>
                                    <a href="{{path('curso_view')}}">
                                      Administrar Curso
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path('docente_view')}}">
                                        Administrar Docente
                                    </a>
                                </li>
                                <li>
                                    <a href="{{path('estudiante_view')}}">
                                        Administrar Estudiante
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="{{path('aula_view')}}">
                                        Administrar Aula
                                    </a>
                                </li>
                                
                                <li>
                                    <a href="{{path('asignacion_view')}}">
                                        Asignación Curso / Profesor
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                        <li>
                            <a class="light toggle-collapsed">
                                Enviar
                                <img src="http://d19k46zntalu3t.cloudfront.net/img/toggle-subnav-down.png" alt="">
                            </a>
                            <ul class="collapsed-nav closed">
                                <li>
                                    <a href="{{path('tema_view')}}">
                                      Crear Tema Célula
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
			<li>
				<a class='light toggle-collapsed'>
					Configurar
					<img src="http://d19k46zntalu3t.cloudfront.net/img/toggle-subnav-down.png" alt="">
				</a>
				<ul class='collapsed-nav closed'>
                                      {% if (is_granted('ROLE_ADMIN')) %}
					<li>
						<a href="{{path('permisos')}}">
							Registrar
						</a>
					</li>
                                        
                                        <li>
                                            <a href="{{path('celula_view')}}">
                                                Administrar celulas
                                            </a>                                            
                                        </li>
                                        
                                        <li>
                                            <a href="{{path('red_view')}}">
                                                
                                                Administrar redes
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{path('usuarios_view')}}" >
                                                Administrar Usuarios
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{path('lider_view')}}">
                                                Administrar Lideres
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{path('servicio_view')}}">
                                                Administrar Servicios
                                            </a>
                                        </li>
                                        
                                        <li>
                                            <a href="{{path('permisos')}}">
                                                Permisos
                                            </a>
                                        </li>
                                        
                                        <li>
                                            <a href="{{path('asistencia_view')}}">
                                                Asistencia
                                            </a>
                                        </li>
                                       {% endif %}
                                </ul>
                        </li>
              
                        <li>
                            
                            <a class="light toggle-collapsed">
                                Contabilidad
				<img src="http://d19k46zntalu3t.cloudfront.net/img/toggle-subnav-down.png" alt="">
                            </a>
                            
                            <ul class='collapsed-nav closed'>
                                      
					<li>
						<a href="{{path('ofrenda_view')}}">
							Ofrenda
						</a>
					</li>
                                        
                                        <li>
						<a href="{{path('diezmo_view')}}">
							Diezmo
						</a>
					</li>
                            </ul>
                        </li>
                        <li>
                            <a class="light toggle-collapsed">
                                Secretaría
				<img src="http://d19k46zntalu3t.cloudfront.net/img/toggle-subnav-down.png" alt="">
                            </a>
                            <ul class="collapsed-nav closed">
                                <li>
                                    <a href="{{path('membresia_view')}}">
                                        Membresia
                                    </a>
                                </li>
                            </ul>
                        </li>
            </ul>
	</div>
	<div class="container-fluid">
		<div class="content">
			{% block content %}
			
			{% endblock %}
		</div>
	</div>	
</div>
<div>
	<footer>
		<p align="center">&copy; 2013 por CLM Developers</p>
		<p align="center">
			<a href="http://www.w3.org/html/logo/" target="_blank">
            	<img src="http://www.w3.org/html/logo/badge/html5-badge-h-css3-device-semantics.png" width="197" height="64" alt="HTML5 Powered with CSS3 / Styling, Device Access, and Semantics" title="HTML5 Powered with CSS3 / Styling, Device Access, and Semantics">
            </a> 
        </p>
	</footer>
</div>	
{% block javascript %}
<script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.js"></script>
<script src="http://d19k46zntalu3t.cloudfront.net/js/less.js"></script>
<script src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap.min.js"></script>
<script src="http://d19k46zntalu3t.cloudfront.net/js/chosen.jquery.min.js"></script>
<script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.peity.js"></script>
<script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.fancybox.js"></script>
<script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.flot.js"></script>
<script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.color.js"></script>
<script src="http://d19k46zntalu3t.cloudfront.net/js/jquery.flot.resize.js"></script>
<script src="http://d19k46zntalu3t.cloudfront.net/js/custom.js"></script>
{% endblock %}
</body>
</html>
