{% extends "::base.html.twig" %}
        {% block stylesheets %}
        <link href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://d19k46zntalu3t.cloudfront.net/css/style.css" media="screen" rel="stylesheet" type="text/css">
        <link href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap-responsive.css" media="screen" rel="stylesheet" type="text/css">
       <link rel="stylesheet" href="http://d19k46zntalu3t.cloudfront.net/css/bootstrap.datepicker.css">

        <link rel="stylesheet" href="http://d19k46zntalu3t.cloudfront.net/css/smooth/jquery-ui-1.8.16.custom.css" >
        <link rel="stylesheet" href="http://d19k46zntalu3t.cloudfront.net/css/chosen.css">
        <!-- Scripts -->
                 
        {% endblock %}
        
{% block content %}

       <div class="container-fluid">
        <div class="content">
          
            <div class="row-fluid">
                <div class="span12">
                    <div class="box">
                        <div class="box-head tabs">
                            <h3>Lideres perfiles</h3>
                            <ul class="nav nav-tabs">
                                <li class='active'>
                                    <a href="#basic" data-toggle='tab'>Información Básica</a>
                                </li>
                                
                               
                            </ul>
                        </div>
                        <div class="box-content">
                            <form action="#" class="form-horizontal" id="form_lider" name="form_lider" method="POST">
                            <div class="tab-content">
                                <div class="tab-pane active" id="basic">
                                    
                                        <div class="control-group">
                                            <label for="red_lista" class="control-label">Red</label>
                                            <div class="controls">
                                                <select id="red_lista" name="red_lista">
                                                    
                                                </select>
                                            </div>
                                        </div>
                                    
                                        <div class="control-group" id="doze">                                            
                                            <label class="control-label"></label>
                                            <div class="controls">
                                                <label class="radio">
                                                    <input type="radio" id="nivel" name="nivel" value="doce"> 12
                                                </label>
                                                
                                                <select id="doce_lista" name="doce_lista">
                                                </select>
                                            </div>                                          
                                        </div>
                                    
                                        <div class="control-group" id="cien">                                            
                                            <label class="control-label"></label>
                                            <div class="controls">
                                                <label class="radio">
                                                    <input type="radio" id="nivel" name="nivel" value="ciento"> 144
                                                </label>
                                                <select id="ciento_lista" name="ciento_lista" >
                                                    
                                                </select>
                                            </div>                                          
                                        </div>
                                    
                                        <div class="control-group" id="miles">                                            
                                            <label class="control-label"></label>
                                            <div class="controls">
                                                <label class="radio">
                                                    <input type="radio" id="nivel" name="nivel" value="mil"> 1728
                                                </label>
                                                <select id="mil_lista" name="mil_lista" >
                                                    
                                                </select>
                                            </div>                                          
                                        </div>
                                    
                                        
                                    
                                        <div class="control-group" id="veintes">                                            
                                            <label class="control-label"></label>
                                            <div class="controls">
                                               <label class="radio">
                                                    <input type="radio" id="nivel" name="nivel" value="veinte"> 20736
                                                </label>
                                                <select id="veinte_lista" name="veinte_lista" >
                                                    
                                                </select>
                                            </div>                                          
                                        </div>
                                    
                                       <div class="control-group">
                                            <label class="control-label">Fecha Creación(*)</label>
                                            <div class="controls">
                                                <input type= "text" class="datepick input-medium" id="creacion"
                                                    name="creacion" required/>
                                                <p class="help-block">Día/Mes/Año</p>  
                                            </div>
                                        </div>
                                                                                     
                                </div>
                              
                            </div>
                                <div class="form-actions">
                                    <input type="submit" class='btn btn-primary' value="Guardar" id="btnGuardarCelula" name="btnGuardarCelula">
                                    <input type="reset" class='btn btn-danger' value="Cancelar">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>
        
{% endblock %}
      
               
      {%block javascript %}
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/jquery.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-typeahead.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-collapse.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-button.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-tooltip.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap-tab.js"></script>
            <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap.js"></script>    
            <script src="http://d19k46zntalu3t.cloudfront.net/js/custom.js"></script>              
            <!--[if lt IE 9]> <script type="text/javascript" src="http://d19k46zntalu3t.cloudfront.net/js/html5.js"></script><![endif]-->
            <script src="http://d19k46zntalu3t.cloudfront.net/js/util/functiongen.js"> </script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery/jquery.ui.core.min.js"></script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery/jquery.ui.widget.min.js"></script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery/jquery.ui.position.min.js"></script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/jquery/jquery.ui.autocomplete.min.js"></script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/bootstrap.datepicker.js"></script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/util/functiongen.js"> </script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/bbq.js"> </script>
            <script src="http://d19k46zntalu3t.cloudfront.net/js/chosen.jquery.min.js"> </script>

      
      <script type="text/javascript">
          
                $redes = null;
                root = typeof exports !== "undefined" && exports !== null ? exports : this;

                root.SourceTServicio = "/recuperar_personas_inicio";

                root.DatosEnviar = null;
                personas = null;
        
                PrepararDatos = function() {
                    return root.DatosEnviar = {
                            "formulario": $("#form_lider").serializeObject()
                    };
                };

                SuccessFunction = function(data) {
                    
                    console.log(data);
                    
                    if(data.responseCode===200 ){          
                      
                       $("#form_lider").reset();
                       
                       //cargarSelect(redes, "red_lista", "int_red_id", "id");
                        
                        alert('Registro Completado');
                       
                        $("#lider").autocomplete({
                            source: personas,
                            select: function(event, ui) {
                                $("#lider_id").val(ui.item.id);
                                $("#lider").val(ui.item.label);
                            return false;
                            }
                        });
                        $("#doce_lista").css("display", "none");
                        $("#ciento_lista").css("display", "none");
                        $("#mil_lista").css("display", "none");
                        $("#veinte_lista").css("display", "none");
                        
                        $("#lider_id").val(-1);
                        
                    }
                    else if(data.responseCode===400){//bad request
                       alert('Error bad request');
                        }
                    else{                        
                        if(data.responseCode===500)
                        {
                            alert('Error bad request');
                        }
                        else alert("An unexpeded error occured.");
                        }
                    
                };

       lider_red_xregistrarFunction = function(){
             
                red = $("#red_lista").val();
                
                if(red != '-1')
                {
                    url = '{{path( 'service_lider_red_by_red',{'red':'nom'})}}';
                    url = url.replace('nom',red);
                   

                    doce = getAjaxObject(url);
                    console.log(doce.length);
                    if(doce.length > 0)
                    {
                        cargarSelect(doce,'doce_lista','id','label');
                        $('#doce_lista').css("display","block");
                    }
                    else $('#doce_lista').css("display","none");
                }
            };
            
         function lideres_sinaginarFunction(idselect)
        {
            red = $("#red_lista").val();
                
                if(red != '-1')
                {
                    url = '{{path( 'service_get_lideres_celula_sinaginar',{'red':'nom'})}}';
                    url = url.replace('nom',red);
                    ciento = getAjaxObject(url);
                    
                    console.log(url);
                    if(doce.length > 0)
                    {
                        cargarSelect(ciento,idselect,'id','label');
                        $('#'+idselect).css("display","block");
                    }
                    else $('#'+idselect).css("display","none");
                }
                else
                {
                    $('#'+idselect).css("display","none");
                }
        };
        
        //cargar funciones
        function lideres_padre_red(idselect, red, padre)
        {
             red = $("#red_lista").val();
                
                if(red != '-1')
                {
                    url = '{{path( 'service_get_lider_libre_antecesor_red_sinasignar',{'red':'nom','padre':'father'})}}';
                    url1 = url.replace('nom',red);
                    url1 = url1.replace('father',padre);
                    
                    lista = getAjaxObject(url1);
                    cargarSelect(lista,idselect,'id','label');
                     $('#'+idselect).css("display","block");
                }
                
        }
        lider_redFunction = function(entrada) //recupera al encargado del lider de red
        {
            red = $("#red_lista").val();
                
                if(red != '-1')
                {
                    url = '{{path( 'service_get_lider_red',{'red':'nom'})}}';
                    url = url.replace('nom',red);
                    doce = getAjaxObject(url);
                    console.log(doce.length);
                    if(doce.length > 0)
                    {
                        cargarSelect(doce,'doce_lista','id','label');
                        $('#doce_lista').css("display","block");
                        if(entrada == '1') //1 para lideres sin asignar
                            lideres_sinaginarFunction('ciento_lista');
                        else{
                            lideres_padre_red('ciento_lista', red,$("#doce_lista").val());
                            lideres_sinaginarFunction('mil_lista');
                            
                        }
                    }
                    else $('#doce_lista').css("display","none");
                }
                else
                {
                    $('#doce_lista').css("display","none");
                }
        };
       
        radioFunction  = function(){
                if(this.value === 'doce')
                {
                    lider_red_xregistrarFunction();
                    $('#red_lista').change(lider_red_xregistrarFunction);
                    $("#ciento_lista").css("display", "none");
                    $("#mil_lista").css("display", "none");
                     $("#veinte_lista").css("display", "none");
                }
                if(this.value === 'ciento')
                {
                    lider_redFunction();
                    $('#red_lista').change(lider_redFunction);
                   
                    $("#mil_lista").css("display", "none");
                    $("#veinte_lista").css("display", "none");
                    
                }
                if(this.value === 'mil')
                {
                    lider_redFunction();
                }
                if(this.value === 'veinte')
                {
                    
                }
            }
    
	$(document).ready(function() {
            
            ubigeos = getAjaxObject("https://s3.amazonaws.com/adminchurchs3/json/ubi.json");
            cargarUbigeo(ubigeos, "distrito_lista", "provincia_lista", "departamento_lista");
                 
            redes = getAjaxObject('{{path('services_red')}}');
                          
            cargarSelect(redes, "red_lista", "int_red_id", "id");
            
            $("#doce_lista").css("display", "none");
            $("#ciento_lista").css("display", "none");
            $("#mil_lista").css("display", "none");
            $("#veinte_lista").css("display", "none");
            
            
            
            $("#form_lider").submit(function(event){
                
                 event.preventDefault();
                 PrepararDatos();
                 console.log(root.DatosEnviar);
                 return enviar('{{path('lider_save')}}', root.DatosEnviar, SuccessFunction, null);
  
            });
            
             
           
            $("input[type=radio][name=nivel]").change(radioFunction);
            
        } );

       </script>
      {%endblock %}