{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error|trans }}</div>
{% endif %}

    <div class="container-fluid">
		<div class="row-fluid">
		
			
			
			<div class="row-fluid">
				<div >
					
        
                                        <form class="form-signin" action="{{ path("fos_user_security_check") }}" method="post">
                                            <h2 class="form-signin-heading"> Por favor ingrese </h2>
                                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                                           
                                            
                                            <label for="username" class="control-label">{{ 'security.login.username'|trans }}</label>
                                            
                                            <input type="text" class="input-block-level" placeholder="Usuario" id="username" name="_username" value="{{ last_username }}" required="required"  />
                                            
                                            <label class="control-label" for="password">{{ 'security.login.password'|trans }}</label>                                            
                                            <input type="password" class="input-block-level" id="password" name="_password" required="required" />
                                            
                                                
                                            
                                            <label class="checkbox">
                                                <input class="checkbox" type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
                                            </label>
                                          
                                             <input class="btn btn-large btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                                            
                                        </form>
					
				</div><!--/span-->
			</div><!--/row-->
		</div><!--/fluid-row-->
		
	</div><!--/.fluid-container-->

{% endblock fos_user_content %}
